div{
    background-repeat:no-repeat ;
     
}
/* .buttons{
    text-align:center;
    margin: 0;
    padding:20px;
    height: 300px;
    width: 500px;
    position: absolute;
    top: 10%;
    left:35%;
    size: 5ch;
    grid-template-columns: 5fr 5fr 5fr ;
  
} */